*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Comic Neue' cursive;
}

@media (max-width: 768px){

    .line-footer{
        flex-direction: column;        
    }
}